* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-color: #212121;
}

main {
	display: flex;
	flex: 1;
	align-items: center;
}

/* ------------------------- Header -------------------------------------------------- */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--orange-background);
}

.logo a img {
	width: 20em;
}

/* ------------------------- Productos -------------------------------------------------- */

.productos {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	place-items: center;
	gap: 20px;
	padding: 20px;
	flex: 60%;
	overflow-y: auto; /* Habilita el desplazamiento vertical */
	padding: 10px; /* Espaciado interno */
	height: auto;
}

.aside {
	flex: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: max-content;
	height: 90vh;
	background-color: #001925;
}

@media (max-width: 768px) {
	main {
		flex-direction: column-reverse;
		margin: 1rem;
	}
	.productos {
		flex: auto;
	}
	.aside {
		flex: auto;
		min-height: 30vh;
	}
}

/* ------------------------- Footer -------------------------------------------------- */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--orange-background);
}

.footer__text {
	text-align: center;
}

.footer__text p {
	font-weight: 700;
}
